.fb{
    width: 90%;
    display: flex;
    padding: auto;
     margin-left: 4.8em;
     margin-top: 20px;
     margin-bottom: 20px;
}
.fb-img{
    width: 47%;
    margin-top: 20px;
}
.fb-img img{
    width: 90%;
   height: auto;
}
.fb-right{
    width: 42%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.fb-right-text{
    font-size: 1.2em;
    font-weight: 500;margin-bottom: 10px;
}
.fb-right-btn{
    margin-top: 30px;
}
